* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
td,
th {
  padding: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
.dt-container {
  overflow-x: hidden;
  overflow-y: auto;
}
.table-module {
  width: 100%;
  overflow: auto;
}
.dt-table {
  width: 100%;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.dt-table .check-col {
  width: 5px;
}
.dt-table td {
  word-break: break-word;
}
thead {
  background: #eaeaea;
}
.dt-table tbody tr:nth-of-type(even) {
  background: #fbfbfb;
}
.dt-table tbody tr:hover {
  background: #f2f3f5 !important;
}
.table-error {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  border: solid 1px #ddd;
}
.dt-table > caption + thead > tr:first-child > td,
.dt-table > caption + thead > tr:first-child > th,
.dt-table > colgroup + thead > tr:first-child > td,
.dt-table > colgroup + thead > tr:first-child > th,
.dt-table > thead:first-child > tr:first-child > td,
.dt-table > thead:first-child > tr:first-child > th {
  border-top: 0;
}
.dt-table > tbody > tr > td,
.dt-table > tbody > tr > th,
.dt-table > tfoot > tr > td,
.dt-table > tfoot > tr > th,
.dt-table > thead > tr > td,
.dt-table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #eee;
}
.dt-table > tbody > tr > td,
.dt-table > tbody > tr > th,
.dt-table > tfoot > tr > td,
.dt-table > tfoot > tr > th,
.dt-table > thead > tr > td,
.dt-table > thead > tr > th {
  border: 1px solid #eee;
}

.pagination-page {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  border-radius: 4px;
}
.pagination-page > li {
  display: inline;
}
.pagination-page > li:first-child > a,
.pagination-page > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination-page > li > a,
.pagination-page > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination-page > li:first-child > a,
.pagination-page > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination-page > li > a,
.pagination-page > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination-page > li {
  display: inline;
}
.pagination-nav {
  padding: 10px 0;
  text-align: center;
}
.pagination-page a.disabled {
  pointer-events: none;
  color: #ccc;
}
.page-total,
.data-total {
  display: inline-block;
  vertical-align: middle;
}
.data-total {
  margin-right: 10px;
}
.page-total {
  margin-left: 10px;
}
.pg-con {
  margin: 0 auto;
  line-height: 36px;
  height: 36px;
}
.pg-con select {
  margin-left: 10px;
  font: inherit;
  color: inherit;
  text-transform: none;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  border: 0;
}
a.link-batch {
  font-size: 16px;
  color: #337ab7;
  float: left;
  display: block;
}